body, a { font-family:'Open Sans', sans-serif;!important;}
h1 { font-size:52px; }
h2 { 
	font-size:18px;     
	background-color: rgba(211, 211, 211, 0.17);
    line-height: 32px;
    padding-left: 10px;
}
body { font-size:14px; }
img {     margin-top: 10px; }
table { width: 600px; margin-bottom: inherit; }
.price { font-size: xx-large; }
blockquote {
	margin-bottom: 30px;
    margin-top: 4px; 
} 
a {     
    padding-left: 1px;
    padding-right: 1px;
}
.current {
	text-decoration: none;
    background: linear-gradient(to top, rgba(211, 211, 211, 0.18), transparent);
}  