body, a { font-family:'Open Sans', sans-serif;!important;}
h1 { 
    font-size:52px; 
    color: #fff;
    text-shadow: #ccc 0 1px 0, #c9c9c9 0 2px 0, #bbb 0 3px 0, #b9b9b9 0 4px 0, #aaa 0 5px 0,rgba(0,0,0,.1) 0 6px 1px, rgba(0,0,0,.1) 0 0 5px, rgba(0,0,0,.3) 0 1px 3px, rgba(0,0,0,.15) 0 3px 5px, rgba(0,0,0,.2) 0 5px 10px, rgba(0,0,0,.2) 0 10px 10px, rgba(0,0,0,.1) 0 20px 20px;

}
h2 { 
	font-size:18px;     
	background-color: rgba(211, 211, 211, 0.17);
    line-height: 32px;
    padding-left: 10px;
}
body { font-size:14px; }
img {     margin-top: 10px; }
table { width: 600px; margin-bottom: inherit; }
.price { font-size: xx-large; }
blockquote {
	margin-bottom: 30px;
    margin-top: 4px; 
} 
a {     
    padding-left: 1px;
    padding-right: 1px;
}
.current {
	text-decoration: none;
    background: linear-gradient(to top, rgba(211, 211, 211, 0.18), transparent);
}  